.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
}
h2 {
  font-size: 32px;
  margin-top: 60px;
}
@media (max-width: 500px) {
  h2 {
    margin-top: 30px;
  }
}
