.submitWord {
  width: 50px;
  height: 50px;
  border: solid 2px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splitWord {
  width: 50px;
  height: 50px;
  border: solid 2px;
  border-color: #e5e7eb;
  border-radius: 5px;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  background-color: #22c55e;
  border-color: #22c55e;
}

.half {
  background-color: #eab308;
  border-color: #eab308;
}

.fail {
  background-color: #94a3b8;
  border-color: #94a3b8;
}

.inputCell {
  border-color: black;
  border-width: 2px;
}
